// Colors
$primary: #A2875A;
$navbar-dark-color: #A2875A;

// Tags
$link-decoration: none;

// Nav
.navbar-collapse {
    margin-top: 1rem;

    @media (min-width: 992px) {
        margin-top: 0;
    }

    .nav-item + .nav-item {
        margin-top: 0.5em;
    
        @media (min-width: 992px) {
            margin-left: 2rem;
            margin-top: 0;
        }
    }
}

@import '~bootstrap/scss/bootstrap.scss'